<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jbit.dao.SmbmsProviderDao">
  <resultMap id="BaseResultMap" type="com.jbit.entity.SmbmsProvider">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="proCode" jdbcType="VARCHAR" property="procode" />
    <result column="proName" jdbcType="VARCHAR" property="proname" />
    <result column="proDesc" jdbcType="VARCHAR" property="prodesc" />
    <result column="proContact" jdbcType="VARCHAR" property="procontact" />
    <result column="proPhone" jdbcType="VARCHAR" property="prophone" />
    <result column="proAddress" jdbcType="VARCHAR" property="proaddress" />
    <result column="proFax" jdbcType="VARCHAR" property="profax" />
    <result column="createdBy" jdbcType="BIGINT" property="createdby" />
    <result column="creationDate" jdbcType="TIMESTAMP" property="creationdate" />
    <result column="modifyDate" jdbcType="TIMESTAMP" property="modifydate" />
    <result column="modifyBy" jdbcType="BIGINT" property="modifyby" />
  </resultMap>
  <sql id="Base_Column_List">
    id, proCode, proName, proDesc, proContact, proPhone, proAddress, proFax, createdBy, 
    creationDate, modifyDate, modifyBy
  </sql>
  <update id="updateProvider">
    UPDATE smbms_provider
    SET procode=#{procode},proname=#{proname},procontact=#{procontact},prophone=#{prophone},
    proaddress=#{proaddress},profax=#{profax},prodesc=#{prodesc}
    where id=#{id}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from smbms_provider
    where id = #{id,jdbcType=BIGINT}
  </select>
  <!--查全部-->
  <select id="selectProviderList" resultType="SmbmsProvider">
    SELECT * from smbms_provider

  </select>
  <!--管理-->
  <select id="selectProviderLists" resultType="com.jbit.entity.SmbmsProvider">
    SELECT * from smbms_provider
    <where>
      <if test="queryProCode!=null and queryProCode!=''">
        and procode = #{queryProCode}
      </if>
      <if test="queryProName!=null and queryProName!=''">
        and proname like concat ('%',#{queryProName},'%')
      </if>
    </where>
  </select>
  <!--查看供应商下有多少条订单-->
  <select id="selectcount" resultType="int">
    SELECT COUNT(*) FROM `smbms_provider` p,`smbms_bill` u WHERE p.`id`=u.`providerId` AND p.`id`=#{id}
  </select>
  <!--删除供应商-->
  <delete id="deleteProvider">
    DELETE FROM smbms_provider where id=#{id}
  </delete>
  <!--增加供应商-->
  <insert id="insertProvider">
    INSERT INTO smbms_provider(id,procode,proname,procontact,prophone,proaddress,profax,createdby,creationdate,prodesc)
    VALUES (DEFAULT ,#{procode},#{proname},#{procontact},#{prophone},#{proaddress},#{profax},#{createdby},#{creationdate},#{prodesc})
  </insert>
</mapper>