<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
	   <package name="com.jbit.entity"/>
	</typeAliases>
	
	<mappers>
		<mapper resource="com/jbit/dao/SmbmsAddressMapper.xml" />
		<mapper resource="com/jbit/dao/SmbmsBillMapper.xml" />
		<mapper resource="com/jbit/dao/SmbmsProviderMapper.xml" />
		<mapper resource="com/jbit/dao/SmbmsRoleMapper.xml" />
		<mapper resource="com/jbit/dao/SmbmsUserMapper.xml" />
	</mappers>
</configuration>